:root {
  --color-primary: #e93a37;
  --color-primary-hover: #ed615f;
  --color-primary-contrast: #fcfcfa;
  --color-bg: #f7f3e8;
  --color-surface: #ffffff;
  --color-surface-muted: #f2f2f2;
  --color-border: #dbdbdb;
  --color-text-main: #323232;
  --color-text-muted: #6e6e68;
  --color-accent-green: #507e6a;
  --color-accent-blue: #c6e6e3;
  --color-accent-peach: #ffd0a7;
  --text: var(--color-text-muted);
  --text-h: var(--color-text-main);
  --bg: var(--color-bg);
  --border: var(--color-border);
  --code-bg: var(--color-surface-muted);
  --accent: var(--color-primary);
  --accent-bg: rgba(233, 58, 55, 0.1);
  --accent-border: rgba(233, 58, 55, 0.5);
  --social-bg: rgba(242, 242, 242, 0.7);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
